.header-background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)) , url(./study.jpg);
  background-size:     cover;
}

.spotify-logo-paragraph {
  width: 25px;
  padding-right: 5px;
}